body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    background-image: url('https://images.pexels.com/photos/3243/pen-calendar-to-do-checklist.jpg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    color: #333333;
    font-weight: bold;
    font-size: 24px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-group input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .input-group button {
    padding: 10px 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  li input[type='checkbox'] {
    margin-right: 10px;
    align-items: center;
  }
  
  .todo-details {
    flex: 1;
  }
  
  .todo-details .title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .todo-details .description {
    font-size: 14px;
    color: #555555;
    margin-top: 5px;
  }
  
  .delete-button {
    padding: 10px 15px;
    background-color: #991700;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Toastify__toast-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Toastify__toast--success {
    background-color: #4caf50;
  }
  
  .Toastify__toast--error {
    background-color: #ff3d00;
  }
  
  .Toastify__toast--info {
    background-color: #2196f3;
  }
  
  .Toastify__toast-body {
    font-size: 14px;
    color: #ffffff;
  }
  